// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$gray: #A1A6B4;
$light-gray: #E0E0E0;

$light-blue: #F4FCFF;
$soft-blue: #7FBEEB;
$cyan: #FFFFFF;


$white: #FFFFFF;
$black: #181818;

