<div class="jumbotron">
  <div class="container">
    <row>
      <div class="col-xs-12">
        <h1>AirBnBroke</h1>
        <p>Even the worst place to stay is better than no place at all.</p>
        <%= render partial: "shared/search_form" %>
      </div>
    </div>
  </div>
</div>
