<div class="banner search-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>The world is yours!</h1>
    <p>Sleep anywhere on a super tight budget</p>
    <%= render partial: 'shared/search_form' %>
  </div>
</div>

<div class="cards-container">
  <h2><%= @header %></h2>
  <% @listings.each do |listing| %>
  <%= render partial: 'shared/listing_card', locals: { listing: listing } %>
  <% end %>
</div>
