.listing-view {
  height: 75vh;
  margin-top: 5rem;
}

.listing-view__detail {
}

.listing-view__dates-form {
  margin-top: 10rem;
  // background-color: rgba($color: #181818, $alpha: 0.3);
  // border-radius: 1%;
  // height: 21rem;
  // padding: 2.5rem 0 0 5rem;
}

.listing-view__form-guest-number {
  padding-right: 20rem;
}

.listing_view__form-button {
  margin: 0rem 0 0 6rem;
  padding: 0 5rem;
  margin-left: 11rem;
}

.listing-view__bg {
  /* Full height */
  height: 25vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
