.listing-view {
  height: 75vh;
  margin-top: 5rem;
}

.listing-view__detail {
}

.listing-view__dates-form {
}

.listing-view__form-guest-number {
}

.listing_view__form-button {
  margin: 3rem 2rem 0 2rem;
}
