.avatar-large {
  length: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar-booking {
  height: 90px;
  width: 95px;
  border-radius: 50%;
}

.customer-service-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
