

.footer {
  background: #E0E0E0;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 105px;
  color: rgba(114, 192, 232, 1);
  bottom: 0;
  width: 100%;
  border-top: solid white 2px;
}

.footer p {
  margin: 0;
  font-weight: bold;
}

.footer-copyright {
  font-size: 25px;
  padding-top: 4px;
  font-weight: bold;
}

.description {
  font-size: 18px;
}

.footer-links a {
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: rgba(114, 192, 232, 0.7);
}

.em {
  opacity: 0.15;
 }

 #contact {
  font-weight: lighter;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
 }



