.search-box {
  background-color: rgba($color: $black, $alpha: 0.45);
  padding: 2rem 8rem;
  border-radius: 1%;
  color: white;
  vertical-align: middle !important;

  &__button {
    margin-top: 3rem;
  }
}

.listing-form {
  background-color: rgba($color: $soft-blue, $alpha: 0.9);
  border: 6px solid $cyan;

  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;

  padding: 2rem 8rem;
  margin: 0 20rem;
  margin-top: 5rem;
  border-radius: 1%;
  color: white;
}

.form-group {
  display: flex;
  justify-content: space-between;}

.fg-left{

}

.fg-right{
  .ff { float: right; }
}

.ff {
  font-family: 'Quicksand', sans-serif;
  font-color: black;
  display: block;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

.ff-label {
  padding-right: 6px;
  font-family: 'Quicksand', sans-serif;
}

.ff-small{
  width : 80px;
  margin: 0;
}

.ff-mid {
  width : 240px;
  margin: 0;
}

.ff-large {
  margin: 0;
}

.ff-box {
  height: 120px !important;;
  margin: 0;
}
