.search-box {
  background-color: rgba($color: #181818, $alpha: 0.45);
  padding: 2rem 8rem;
  border-radius: 1%;
  color: white;

  &__button {
    margin-top: 3rem;
  }
}

.listing-form {
  background-color: rgba($color: #181818, $alpha: 0.45);
  padding: 2rem 8rem;
  margin: 0 20rem;
  margin-top: 5rem;
  border-radius: 1%;
  color: white;
}
